{% extends 'base.html.twig' %}

{% block title %} 
    Hello MyViewController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
     <h1>BIENVENUE DANS LA VIEW</h1>

 {{bjr}}


{% endblock %}

 
