{% extends 'base.html.twig' %}
{% block title %}Hello Symfony !{% endblock %}

{% block body %}

<div class="flex flex-col gap-5 mt-5">

    <a class="lien h-32 w-2/3 border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold" href="{{ path('index_biblio') }}">Bibliothèque</a>   
        
</div>


{% endblock %}

{% block footer %} {% endblock %}
