{% extends 'base.html.twig' %}
{% block title %}Hello Symfony !{% endblock %}

{% block body %}

<div class="flex flex-col gap-5 mt-5">

    <a class=" flex justify-center items-center radial-stripes-2 h-32 w-full border-box bg-yellow-500 animate-pulse text-4xl text-center font-bold" href="{{ path('index_biblio') }}">Bibliothèque</a>  



</div>


{% endblock %}

{% block footer %} {% endblock %}
