{% extends 'base.html.twig' %}

{% block body %}

{% include 'admin_menu.html.twig' %} 
<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-blue-600 ">
  <a class="lien" href="{{ path('index_locations') }}">Retour au tableau des locations</a> 
</button>

<button class="rounded-full py-3 px-6 bg-blue-600">
  <a class="lien" href="{{ path('index_locations_form1') }}">Formulaire #1</a> 
</button>
</div>

<h1 class="text-4xl text-center text-blue-600 font-bold mt-5">FORMULAIRE #2</h1>

{{ form_start(formLocations) }}      

{{ form_end(formLocations) }}


{% endblock %}

