{% extends 'base.html.twig' %}
{% block title %}Hello Symfony !{% endblock %}

{% block body %}

<div class="border d-flex flex-column">
<button class="bouton" >
<a class="lien" href="{{ path('articles_index') }}">Articles</i></a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_utilisateurs') }}">Utilisateurs</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_categorie') }}">Catégories</a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_locations') }}">>Locations</a>
</button>


{% endblock %}

{% block footer %}
Hello Symfony !{% endblock %}
