{% extends 'base.html.twig' %}

{% block body %}

{% include 'admin_menu.html.twig' %} 

<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-gray-600 ">
  <a class="lien" href="{{ path('index_articles') }}">Retour aux articles</a> 
</button>
<h1 class="text-4xl text-center font-bold mt-5">MODIFIER L'ARTICLE </h1>

{{ form(formArticle) }}

{% endblock %}

