{% extends 'base.html.twig' %}

{% block title %}
	A PROPOS
{% endblock %}

{% block body %}
<h1>A PROPOS</h1>

{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
