{% extends 'base.html.twig' %}

{% block title %}
	ARTICLES A LA UNE
{% endblock %}

{% block body %}
<h1>ARTICLES A LA UNE</h1>
{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
