{% extends 'base.html.twig' %}

{% block title %}
CONTENU
{% endblock %}

{% block body %}
<h1>CONTENU</h1>
{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
