{% extends 'base.html.twig' %}

{% block title %}
CONTACT
{% endblock %}

{% block body %}
<h1>CONTACT</h1>
{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
