{% extends 'base.html.twig' %}
{% block title %}Bibliothèque{% endblock %}

{% block body %}
<h1> BIENVENUE SUR LA BIBLIOTHEQUE</h1>

<div class="border d-flex flex-column">
<button class="bouton" >
<a class="lien" href="{{ path('index_utilisateur') }}">Espace Utilisateur</i></a>
</button>

<button class="bouton" >
<a class="lien" href="{{ path('index_admin') }}">Espace Administrateur</a>
</button>

{% endblock %}

{% block footer %}
Hello Symfony !{% endblock %}
