{% extends 'base.html.twig' %}

{% block title %}
	LIVRES
{% endblock %}

{% block body %}
 <h1>LIVRES</h1>

{% endblock %}

{% block footer %}
	<div style="display: inline; width: 200px; height: 200px; border: solid; background-color: blue; color: white;">Guinot</div>
    <div style="display: inline; width: 200px; height: 200px; border: solid; background-color: white;">Guinot</div>
    <div style="display: inline; width: 200px; height: 200px; border: solid; background-color: red; color: white;">Guinot</div>
{% endblock %}
