{% extends 'base.html.twig' %}

{% block title %}
	Hello MyViewController!
{% endblock %}

{% block body %}{% endblock %}

{% block footer %}
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
	<div style="display: inline;">Guinot</div>
{% endblock %}
