{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}

{% include 'admin_menu.html.twig' %}

<div class="mt-5">
    <button class="rounded-full py-3 px-6 bg-yellow-600">
        <a class="lien" href="{{ path('index_nouvel_utilisateur') }}"> Créer un nouvel article</a>
    </button>

    <button class="rounded-full py-3 px-6 bg-yellow-600">
        <a class="lien" href="{{ path('index_utilisateurs_form1') }}">Formulaire #1</a>
    </button>

    <button class="rounded-full py-3 px-6 bg-yellow-600">
        <a class="lien" href="{{ path('index_utilisateurs_form2') }}">Formulaire #2</a>
    </button>
</div>

<h1 class="text-4xl text-center text-yellow-600 font-bold mt-5">TABLEAU DES UTILISATEURS</h1>

{# https://twig.symfony.com/doc/3.x/tags/for.html #}
{% for utilisateur in utilisateurs %}

<div class=" w-50 flex justify-center gap-2">
    <div class="h-32 w-32  bg-yellow-500 rounded-full text-center">{{ utilisateur.photo }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.id }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.nom }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.prenom }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.date_de_naissance|date() }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.adresse }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.email }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.login }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.role }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">
        <a class="lien" href="{{ path('index_affichage_utilisateur',{ 'id':utilisateur.id }) }}"> Afficher </a>
    </div>
    <div class="h-10 bg-yellow-500 rounded-full text-center ">
        <a class="lien" href="{{ path('index_edit_utilisateur',{ 'id':utilisateur.id }) }}"> Modifier </a>
    </div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">
        <a class="lien" href="{{ path('index_supprimer_utilisateur',{ 'id':utilisateur.id }) }}"> Supprimer </a>
    </div>
</div>


{% endfor %}
</tbody>
</table>


{% endblock %}


 
<div class=" w-1/3 flex flex-col justify-center mt-10 gap-2">
    <div class="h-32 w-32  bg-yellow-500 rounded-full text-center">{{ utilisateur.photo }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.id }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.nom }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.prenom }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.date_de_naissance|date() }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.adresse }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.email }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.login }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">{{ utilisateur.role }}</div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">
        <a class="lien" href="{{ path('index_affichage_utilisateur',{ 'id':utilisateur.id }) }}"> Afficher </a>
    </div>
    <div class="h-10 bg-yellow-500 rounded-full text-center ">
        <a class="lien" href="{{ path('index_edit_utilisateur',{ 'id':utilisateur.id }) }}"> Modifier </a>
    </div>
    <div class="h-10 bg-yellow-500 rounded-full text-center">
        <a class="lien" href="{{ path('index_supprimer_utilisateur',{ 'id':utilisateur.id }) }}"> Supprimer </a>
    </div>
</div>

