{% extends 'base.html.twig' %}


{% block body %}
<div class="flex flex-col">
    
    <div class="flex">

        <div class="flex rounded-full h-24 w-24 flex items-center justify-center bg-indigo-600 text-white">   
            <img src="../public/images/users.png" alt="">
        </div>

        <div class="my-auto ml-3">
            <button class="rounded-full py-3 px-6 bg-red-600">
                <a class="lien" href="{{ path('index_utilisateur') }}">Espace Usager</a>
            </button>
        </div>

    </div>

    <div class="flex">
        <div class="flex rounded-full h-24 w-24 flex items-center justify-center bg-indigo-600 text-white">          
                <img src="../public/images/admin.png" alt="">
        </div>   

        <div class="my-auto ml-3">
                <button class="rounded-full py-3 px-6 bg-red-600">
                    <a class="lien" href="{{ path('index_admin') }}">Espace Administrateur</a>
                </button>
        </div>      
    </div>

</div>

{% endblock %}