{% extends 'base.html.twig' %}

{% block body %}

<<<<<<< HEAD

=======
	{% include 'admin_menu.html.twig' %}
>>>>>>> 8853bfe5b71795d67e2d212403a264fa0951e53f
	<div class="mt-5">
		<button class="rounded-full py-3 px-6 bg-gray-400 hover:bg-green-600 ">
			<a class="lien" href="{{ path('index_articles') }}">Retour au tableau des articles</a>
		</button>
	</div>

	<h1 class="text-4xl text-center font-bold mt-5">FORMULAIRE</h1>

	<div class="flex justify-center mt-5">
		<div class="w-2/3 h-auto p-5 text-center bg-gray-400  flex items-center justify-center">
			{{ form(formArticle) }}
			</div>
		</div>

	{% endblock %}
