{% extends 'base.html.twig' %}

{% block body %}

{% include 'admin_menu.html.twig' %} 
<div class="mt-5">
<button class="rounded-full py-3 px-6 bg-yellow-600 ">
  <a class="lien" href="{{ path('index_utilisateurs') }}">Retour au tableau des utilisateurs</a> 
</button>

<button class="rounded-full py-3 px-6 bg-yellow-600">
  <a class="lien" href="{{ path('index_utilisateurs_form2') }}">Formulaire #2</a> 
</button>
</div>

<h1 class="text-4xl text-center text-yellow-600 font-bold mt-5">FORMULAIRE #1</h1>

{{ form_start(formUtilisateurs) }}
        <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold ">
         NOM <br> {{ form_widget(formUtilisateurs.nom) }} 
         </div>

        <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold">
        PRENOM <br> {{ form_widget(formUtilisateurs.prenom) }}
        </div>

        <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold">
        DATE DE NAISSANCE <br> {{ form_widget(formUtilisateurs.date_de_naissance) }}
        </div>

        <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold">
        EMAIL <br> {{ form_widget(formUtilisateurs.email) }}
        </div>

        <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold">
         ADRESSE <br> {{ form_widget(formUtilisateurs.adresse) }}   
         </div>

          <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold ">
         LOGIN <br> {{ form_widget(formUtilisateurs.login) }} 
         </div>

          <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold ">
         MOT DE PASSE <br> {{ form_widget(formUtilisateurs.password) }} 
         </div>

          <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold ">
         ROLE <br> {{ form_widget(formUtilisateurs.role) }} 
         </div>

          <div class="h-20 mt-5 border-box bg-yellow-600 animate-pulse text-center font-bold ">
         PHOTO <br> {{ form_widget(formUtilisateurs.photo) }} 
         </div>

        <div class="mt-5 text-center">
        <button type="submit" class="rounded-full py-3 px-6 bg-yellow-600 mt-5">
        Enregistrer
        </button>
        </div>
{{ form_end(formUtilisateurs) }}


{% endblock %}

