{% extends 'base.html.twig' %}

{% block title %} 
    Hello MyViewController!
{% endblock %}

{% block body %}
    <div class="example-wrapper">
     
    </div>
						
<ul class="dropdown-menu">
    <h3>
		<li class="active"><a href="#">Accueil </a></li>
        <li class="active"><a href="{{path('articles_index')}}">Liste des Articles </a></li>
        <li class="active"><a href="{{path('articles_affichage')}}">Lire la suite </a></li>
        <li class="active"><a href="#">Modifier un article </a></li>


    </h3>
</ul>
<hr>
{% endblock %}
