{% extends 'base.html.twig' %}

{% block title %}categorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>
 <table class="table table-striped" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Résumé</th>
             
            </tr>
        </thead>
        <tbody>     
            <tr>           
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.titre }}</td>
                <td>{{ categorie.resume }}</td>
                              
            </tr>
          
        </tbody>
    </table>
        
     
{% endblock %}
